<div class="centered jumbotron" [@flyInFromTop]="'in'">
  <h1> <img src="{{avatar}}" alt="">{{userName}}</h1>
</div>


<div class="header row d-flex justify-content-center"  [@flyInFromSide]="'in'">
  <div class="level-header">
    <h1><span class="level">level </span>{{level}} <span class="prestige" *ngIf="prestige > 0">x{{prestige}}</span></h1>
  </div>
  <div class="sr-header">
    <h1><span class="SR">SR </span>{{compRank}}</h1>
  </div>
</div>

<div *ngIf="heroSelected">
  <div class="select-character row" [@flyInCharacterContainer]="'in'" >
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
      <select (change)="onCharSelect($event.target.value)">
        <option *ngFor="let hero of heroList" value="{{hero.name}}" [selected] = "hero.name == heroSelected.name" class="select-box">{{hero.name}}</option>
      </select>
    </div>

    <div class="col-md-3">
      <button [class] = "competitiveBtn(heroSelected)" type="button" name="button" (click)="showCompetitiveStats(heroSelected)"><span *ngIf="isCompetitive(heroSelected)">Competitive</span><span *ngIf="!isCompetitive(heroSelected)">No Competitive Data</span></button>
      <button *ngIf="isQuickplay(heroSelected)" [class] = "quickplayBtn(heroSelected)" type="button" name="button" (click)="showQuickplayStats(heroSelected)"><span *ngIf="isQuickplay(heroSelected)">Quickplay</span><span *ngIf="!isQuickplay(heroSelected)">No Quickplay Data</span></button>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

<div class="container">
  <div class="character row">
    <div class="col-lg-5 character-image-container"  [@flyInCharacterContainer]="'in'">
      <img *ngIf="heroSelected.name == 'zarya'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Zarya-portrait.png">
      <img *ngIf="heroSelected.name == 'doomfist'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Doomfist-portrait.png">
      <img *ngIf="heroSelected.name == 'genji'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Genji-portrait.png">
      <img *ngIf="heroSelected.name == 'mccree'" [@fadeInCharacterPicture]="'in'"src="../assets/img/Mccree-portrait.png">
      <img *ngIf="heroSelected.name == 'pharah'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Pharah-portrait.png">
      <img *ngIf="heroSelected.name == 'reaper'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Reaper-portrait.png">
      <img *ngIf="heroSelected.name == 'soldier76'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Soldier76-portrait.png">
      <img *ngIf="heroSelected.name == 'sombra'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Sombra-portrait.png">
      <img *ngIf="heroSelected.name == 'tracer'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Tracer-portrait.png">
      <img *ngIf="heroSelected.name == 'bastion'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Bastion-portrait.png">
      <img *ngIf="heroSelected.name == 'hanzo'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Hanzo-portrait.png">
      <img *ngIf="heroSelected.name == 'junkrat'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Junkrat-portrait.png">
      <img *ngIf="heroSelected.name == 'mei'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Mei-portrait.png">
      <img *ngIf="heroSelected.name == 'torbjorn'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Torbjorn-portrait.png">
      <img *ngIf="heroSelected.name == 'widowmaker'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Widowmaker-portrait.png">
      <img *ngIf="heroSelected.name == 'dva'" [@fadeInCharacterPicture]="'in'" src="../assets/img/DVa-portrait.png">
      <img *ngIf="heroSelected.name == 'orisa'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Orisa-portrait.png">
      <img *ngIf="heroSelected.name == 'reinhardt'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Reinhardt-portrait.png">
      <img *ngIf="heroSelected.name == 'roadhog'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Roadhog-portrait.png">
      <img *ngIf="heroSelected.name == 'winston'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Winston-portrait.png">
      <img *ngIf="heroSelected.name == 'ana'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Ana-portrait.png">
      <img *ngIf="heroSelected.name == 'lucio'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Lucio-portrait.png">
      <img *ngIf="heroSelected.name == 'mercy'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Mercy-portrait.png">
      <img *ngIf="heroSelected.name == 'symmetra'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Symmetra-portrait.png">
      <img *ngIf="heroSelected.name == 'zenyatta'" [@fadeInCharacterPicture]="'in'" src="../assets/img/Zenyatta-portrait.png">

    </div>

    <div class="col-lg-3" [@flyInCharacterStats]="'in'" style="z-index: 5">
    <h4 class="card-title">{{heroSelected.name}}'s Special Stats
      <div class="btn-group" role="group">
      </div>
    </h4>
      <div class="character-deck  char-stat-block" id="style-8" >
        <div class="card stat-block">

          <ul class="list-group list-group-flush">
            <li *ngFor="let heroStat of heroStats" class="list-group-item">{{heroStat.name}}: {{heroStat.details}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3"  [@flyInCharacterStats]="'in'">
      <h4 class="card-title">{{heroSelected.name}}'s General Stats</h4>
        <div id="style-8"class="character-deck general-stats" >
          <div class="card stat-block">
            <ul class="list-group list-group-flush">
              <li *ngFor="let generalStat of generalStats" class="list-group-item">{{generalStat.name}}: <span class="stat-detail">{{generalStat.details}}</span></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

<app-time-played [heroSelected] = "heroSelected" [playtimeListConcat] = "playtimeListConcat" [totalPlaytime] = "totalPlaytime" [showBtnText] = "showBtnText" (showAllSender) = "showAll()" (selectCharacterSender) = "onCharSelect($event)"></app-time-played>

<app-win-rate [heroSelected] = "heroSelected" [winRateList] = "winRateList" (selectCharacterSender) = "onCharSelect($event)" (showAllSender) = "showAllWinRate()" [showBtnText] = "showBtnTextWinRate"> </app-win-rate>

<app-achievements [compStats] = "compStats" [quickplayStats] = "quickplayStats"></app-achievements>
