.jumbotron h1{
    font-size: 6em;
  color: #f9a11c;
}
.jumbotron{
  background-color: #29282b;
  margin-bottom: 0;
  padding: 10px;
}
.select-character{
  font-size: 2em;
  padding-top: 12px;
  z-index: 2;

}
.select-character select{
    background-color: #262626;
    margin-right: 20%;
    color: white;

}
.char-time-played{
  padding-bottom: 30px;
  padding-top: 30px;
}
.show-all{
  background-color: grey;
  width: 200px;
  text-align: center;
}
.centered-show-all{
  margin-top: 10px;
  color: white;
  text-align: center;
  margin-bottom: -20px;
}
.time-played{
  font-size: 3em;
  color: white;
  margin-left: 20%;
  margin-bottom: 15px;
}
.time-played-bar{
  margin-top: 15px;
  margin-left: 20%;
  margin-right: 20%;
}
.time-played-bar-text{
  font-size: 2.5em;
  padding-top: 8px;
  position: absolute;
 text-shadow: 1px 1px 3px black;

}
.time-played-bar-fill{
  height: 30px;
}

.jumbotron img{
  border-radius: 100px;
  margin-right: 20px;
  height: 100px;
}
.centered{
  text-align: center;
}
.level-border{
  position: relative;
  margin-top: 0px;
  padding-top: 0;
  padding: 0;
}

.header{
  padding-top: 0;
  margin-top: 0;
  background-color: #29282b;
  text-align: center;
  width: 100%;
}
.character{
  margin: 15px;
}
.character img{
  height: 500px;
  z-index: 0;
  display: block;
  margin: auto;
}
.character-image-container{
  text-align: center;

  float: right;
}
.stat-detail{
  color:black;
}
.character-deck{
  opacity: .95;
}
.header h1{
  color: #f9a11c;
font-size: 3em;

}
.char-stat-block{
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card-block{
  padding: 10px;
}
.level, .SR{
  font-size: .5em;
  color: #eaeaea;
}
.level-header{
  border-right: 6px solid #262626;
  padding-right: 30px;
  padding-left: 60px;
}
.sr-header{
  padding-left: 30px;
}
.show-btn{
  margin-left: 20px;
}
.general-stats{
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card-title{
  font-size: 1.5em;
  color:  #f9a11c;
}
.list-group-item{
  font-size: 1.2em;
}
.centered-show{
  text-align: center;
  color: white;
  margin: 10px;
}

#style-8::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
