.jumbotron h1{
    font-size: 6em;
  color: #f9a11c;
}
.jumbotron{
  background-color: #29282b;
  margin-bottom: 0;
  padding: 10px;
}
.select-character{
  font-size: 2em;
  padding-top: 12px;
  z-index: 2;
  margin: 5px;

}
.select-character select{
    background-color: #262626;
    color: white;
    padding: 2px;

}
.prestige{
  font-size: .5em;
}
.jumbotron img{
  border-radius: 100px;
  margin-right: 20px;
  height: 100px;
}
.centered{
  text-align: center;
}
.level-border{
  position: relative;
  margin-top: 0px;
  padding-top: 0;
  padding: 0;
}

.header{
  padding-top: 0;
  margin-top: 0;
  background-color: #29282b;
  text-align: center;
  width: 100%;
}
.character{
  margin: 15px;
}
.character img{
  height: 500px;
  z-index: 0;
  display: block;
  margin: auto;
}
.character-image-container{
  float: right;
  right: 0;
  margin-right: 0;
  padding-right: 0;

}
.stat-detail{
  color:black;
}
.character-deck{
  opacity: .95;
}
.header h1{
  color: #f9a11c;
font-size: 3em;

}
.char-stat-block{
  max-height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card-block{
  padding: 10px;
}
.level, .SR{
  font-size: .5em;
  color: #eaeaea;
}
.level-header{
  border-right: 6px solid #262626;
  padding-right: 30px;
  padding-left: 60px;
}
.sr-header{
  padding-left: 30px;
}

.general-stats{
  height: 440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.card-title{
  margin-top: 10px;
  font-size: 1.5em;
  color:  #f9a11c;
}
.list-group-item{
  font-size: 1.2em;
}
.centered-show{
  text-align: center;
  color: white;
  margin: 10px;
}
.select-box{
  padding: 4px;
}
.btn-on, .btn-off, .btn-disabled{
  font-size: .6em;
  margin: 5px;
}
.btn-on{
  border: 5px solid black;

}
.btn-off{
  border: 5px solid green;

}
.showAllBtn{
  font-size: .3em;
  margin-left: 15px;
}
.btn-disabled{
  border: 5px solid grey;
  background-color: grey;
  opacity: .5;
}

.allHeroes{
  font-size: 3em;
  color: white;
  margin-left: 20%;
  margin-bottom: 5px;
}
.listOptions{
  margin-left: 20%;
}
.listOptionBtn{
  margin-right: 10px;
  font-size: 1.1em;
}
.list-option-btn-disabled{
  background-color: grey;
  opacity: .5;

}

#style-8::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
