
<div class="search" *ngIf="!doneSearching && !searching">
  <div id="user-form">
    <div *ngIf="errorReturned" class="error">
      <p>Error: {{errorReturned}}</p>
    </div>
    <label for="">Enter Battlenet Id</label>
    <input type="text" value="Chuggsy-11927" #battlenet class="form-control" placeholder = "e.x. Chuggsy-11927">
    <button type="button" name="button" (click) = "findUser(battlenet.value)" class="btn btn-info" >Search</button>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="searching && !doneSearching">
  <h1 class="searching">Fetching profile data... <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
</h1>
</div>

<div *ngIf="doneSearching && !errorReturned">
  <app-stat-header></app-stat-header>
</div>
