.searching{
  color: white;
}
.btn-info{
  margin-top: 10px;
  font-size: .8em;
}
.justify-content-center{
  margin: auto;
  margin-top: 400px;
}
.error{
  width: 100%;
}
.search {
  width: 400px;
  margin: auto;
  margin-top: 200px;
}
.example-bnetId{
  font-size: .6em;
  opacity: .7;
}
#user-form{
  background-color: #25272b;
  padding: 60px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 2em;
}
#user-form input{
  height:3em;
}
.sub-header{
  color: white;
}
.stat-header{
  background-color: #25272b;
  width: 100%;
  font-size: 4em;
  color:white;
  text-shadow: 2px 2px 6px black;
}
.playerName{
  text-align: center;
}
.playerIcon{

}
.info-block{
  color: white;
  background-color:#3b414f;
}
.info-block{
  padding: 10px;
}
