<div class="container">
  <div class="card-deck">
  <div class="card"  [@fadeIn1]="'in'">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/overwatch/images/b/bd/Overwatch_line_art_logo_symbol-only.png/revision/latest?cb=20141107210951" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Player Highlight #1</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

    </div>
  </div>
  <div class="card"  [@fadeIn2]="'in'">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/overwatch/images/b/bd/Overwatch_line_art_logo_symbol-only.png/revision/latest?cb=20141107210951" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Player Highlight #2</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

    </div>
  </div>
  <div class="card" [@fadeIn3]="'in'">
    <img class="card-img-top" src="https://vignette.wikia.nocookie.net/overwatch/images/b/bd/Overwatch_line_art_logo_symbol-only.png/revision/latest?cb=20141107210951" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Player Highlight #3</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>
</div>
