<div class="container">
  <div class="highlights-header" [@fadeIn1]="'in'">
    <h1>Random Highlights <button class="btn btn-info refresh" type="button" (click)="generateHighlights()" name="button">Refresh</button></h1>
  </div>

  <div class="card-deck">
  <div class="card"  [@fadeIn1]="'in'">
    <div class="card-block" >
      <h2 class="card-title">{{highlightOne.name}}</h2>
      <h3 class="card-text">{{highlightOne.details}}</h3>
    </div>
  </div>

  <div class="card"  [@fadeIn2]="'in'">
    <div class="card-block">
      <h2 class="card-title">{{highlightTwo.name}}</h2>
      <h3 class="card-text">{{highlightTwo.details}}</h3>
    </div>
  </div>

  <div class="card"  [@fadeIn3]="'in'">
    <div class="card-block">
      <h2 class="card-title">{{highlightThree.name}}</h2>
      <h3 class="card-text">{{highlightThree.details}}</h3>
    </div>
  </div>
</div>
</div>
